<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/component.css?v=" <?=time() ?>>
  <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <title>
    <?='Partner'?>
  </title>
</head>

<body>

  <div class="spn-wrapper">

    <div class="spn-contain-auth">
      <div class="spn-auth-header">
        <div class="logo">
          <span class="bi-code-slash"></span>
        </div>
        <span class="title">|Management</span>
      </div>
      <form action="" class="spn-auth">
        <div class="auth-item">
          <small class="bi-envelope"></small>
          <input type="text" name="username" class="auth-input" placeholder="Email" required>
        </div>
        <div class="auth-item">
          <small class="bi-lock"></small>
          <input type="password" name="password" class="auth-input" placeholder="Palavra-passe" required>
        </div>
        <div class="auth-item">
          <button class="auth-input">Entrar</button>
        </div>
        <div class="auth-info">
          <small class="tw-muted">Esqueceu a Senha? <a href="">Recupere</a> </small>
        </div>
      </form>
    </div>


  </div> <!--/.sp-wrapper-->

</body>

</html>
