<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/component.css?v=" <?=time() ?>>
  <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <title>
    <?='Partner'?>
  </title>
</head>

<body>

  <div class="spn-wrapper">
    <?= parts('nav.spn-navbar') ?>

    <div class="card-section">
      <div class="card-section-header">
        <div class="spn-container">
          <div class="title">
            <span class="default">Adcionar Template</span>
            <small class="tw-muted">Carrega os dados do teu template</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-section-contain">
      <div class="spn-container">
        <form action="/templates/upload" method="POST" class="spn-form">
          <div class="spn-form-row">
            <div class="spn-form-btn" >
              <button class="form-btn">adicionar</button>
              <button type="reset" class="form-btn">repôr</button>
            </div>
            <div class="spn-form-item mh">
              <input type="file" id="tcover" name="temp_cover" accept="image/*" hidden>
              <label for="tcover" class="form-label">+ Carregar capa</label>
            </div>
          </div>

          <div class="spn-form-row">
            <div class="spn-form-item">
              <input type="text" name="temp_title" class="form-input" autocomplete="off" required>
              <span class="form-label">Título</span>
            </div>
            <div class="spn-form-item">
              <input type="text" name="temp_description" class="form-input" autocomplete="off" required>
              <span class="form-label">Descrição</span>
            </div>
          </div>

          <div class="spn-form-row">
            <div class="spn-form-item">
              <select name="temp_payment_status" class="form-input">
                <option value="Y">Permitir editar</option>
                <option value="N">Não Permitir</option>
              </select>
              <span class="form-label">Editar</span>
            </div>
            <div class="spn-form-item">
              <select name="temp_type" class="form-input">
                <option value="Landing Page">Landing Page</option>
                <option value="Dashboard">Dashboard</option>
                <option value="Outro">Outro</option>
              </select>
              <span class="form-label">Tipo template</span>
            </div>
          </div>

          <div class="spn-form-row">
            <div class="spn-form-item">
              <select name="temp_payment_status" class="form-input">
                <option value="P">Pago</option>
                <option value="G">Grátis</option>
              </select>
              <span class="form-label">Status</span>
            </div>

            <div class="spn-form-item">
              <input type="text" name="temp_price" class="form-input" autocomplete="off" required>
              <span class="form-label">Valor</span>
            </div>

          </div>

          <div class="spn-form-row">
            <div class="spn-form-item">
              <input type="file" id="tasset" name="temp_assets" accept="image/*" multiple hidden>
              <label for="tasset" class="form-label">+ Carregar assets imagem</label>
            </div>

            <div class="spn-form-item">
              <input type="file" id="tpage" name="temp_assets" accept=".html,.htm" multiple hidden>
              <label for="tpage" class="form-label">+ Carregar páginas</label>
            </div>
          </div>

          <div class="spn-form-row">
            <div class=""></div>
            <div class="spn-form-item">
              <input type="file" id="tasset" name="temp_assets" accept=".css,.js" multiple hidden>
              <label for="tasset" class="form-label">+ Carregar assets css/js</label>
            </div>
          </div>

        </form>

        <div class="spn-give-space"></div>

      </div>
    </div>


  </div> <!--/.sp-wrapper-->

</body>

</html>
