<nav class="spn-navbar">
  <?= parts('over.overlay') ?>

  <div class="spn-container">
    <div class="spn-app">
      <small class="bi-code-slash"></small>
      <span>Nocode</span>
    </div>
    <div class="spn-nav-items">
      <div class="spn-nav-item">
        <a href="" class="nav-link">
          <small class="bi-bell"></small>
        </a>
      </div>

      <div class="spn-nav-item">
        <a href="" class="nav-link">
          <small class="bi-question-circle"></small>
        </a>
      </div>

      <div class="spn-nav-item">
        <a href="" class="nav-link">
          <small class="text">Username</small>
        </a>
      </div>

      <div class="spn-nav-item menu">
        <span class="line-menu"></span>
        <span class="line-menu"></span>
        <span class="line-menu"></span>
      </div>

    </div>

  </div>
</nav>


<div class="spn-mnav">

  <div class="loader">
    <span class="bi-code-slash"></span>
  </div>

  <div class="mnav-header">
    <span class="bi-x">Fechar</span>
  </div>
  <div class="mnav-items">
    <div class="mnav-item <?= request()->path() == '' ? 'active' : '' ?>">
      <a href="/" class="mnav-link">
        <span>Inicio</span>
      </a>
    </div>

    <div class="mnav-item <?= request()->path() == 'templates' ? 'active' : '' ?>">
      <a href="/templates/show" class="mnav-link">
        <span>Templates</span>
      </a>
    </div>

    <div class="mnav-item <?= request()->path() == 'templates/add' ? 'active' : '' ?>">
      <a href="/templates/add" class="mnav-link">
        <span class="bi-plus">Adcionar</span>
      </a>
    </div>

    <div class="mnav-item <?= request()->path() == 'partners' ? 'active' : '' ?>">
      <a href="" class="mnav-link">
        <span>Parceiros</span>
      </a>
    </div>

    <div class="mnav-item">
      <a href="" class="mnav-link">
        <span>Sair</span>
      </a>
    </div>

  </div>
</div>


<script>
  try {
    $('.spn-nav-item.menu').click(() => {
      $('body').css('overflow', 'hidden');
      $('.spn-mnav').addClass('active');
      $('.spn-overlay').addClass('active');
    });

    $('.mnav-header').click(() => {
      $('body').css('overflow', 'auto');
      $('.spn-mnav').removeClass('active');
      $('.spn-overlay').removeClass('active');
    });


    setTimeout(() => {
      $('.loader').addClass('hide');
    }, 1000);

  } catch (error) {
    console.error(error);
  }
</script>
