<nav class="spn-navbar">
  <div class="spn-container">
    <div class="spn-app">
      <small class="bi-code-slash"></small>
      <span>Nocode</span>
    </div>
    <div class="spn-nav-items">
      <div class="spn-nav-item">
        <a href="" class="nav-link">
          <small class="bi-bell"></small>
        </a>
      </div>

      <div class="spn-nav-item">
        <a href="" class="nav-link">
          <small class="bi-question-circle"></small>
        </a>
      </div>

      <div class="spn-nav-item">
        <a href="" class="nav-link">
          <small class="text">Username</small>
        </a>
      </div>

      <div class="spn-nav-item menu">
        <span class="line-menu"></span>
        <span class="line-menu"></span>
        <span class="line-menu"></span>
      </div>

    </div>

  </div>
</nav>
