<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/component.css?v=" <?=time() ?>>
  <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">
  <title>
    <?='Partner'?>
  </title>
</head>

<body>

  <div class="spn-wrapper">
    <?= parts('nav.spn-navbar') ?>

    <div class="card-section">
      <div class="card-section-header">
        <div class="spn-container">
          <div class="title">
            <span class="default">Templates</span>
            <small class="tw-muted">Todos os templates criados</small>
          </div>

          <form action="" class="form-filter">
            <small class="bi-search"></small>
            <input type="text" name="filter-input" placeholder="Pesquisar um template">
          </form>
        </div>
      </div>

      <div class="card-section-contain">

        <div class="spn-container">

          <div class="card-section-row">
            <div class="template-item">
              <div class="template-cover">
                <img src="/assets/img/example-2.png" alt="">
              </div>
              <div class="template-info">
                <span class="name">testIt</span>
                <small class="tw-muted">Criado por: <span class="owner">Sílica</span> </small>
                <div class="avaluate">
                  <span class="range"><span class="qtd">02</span> Pessoa(s) Utilizando </span>
                  <div class="ratings">
                    <small class="bi-star-fill"></small>
                    <small class="bi-star-fill"></small>
                    <small class="bi-star-fill"></small>
                    <small class="bi-star-fill"></small>
                    <small class="bi-star-fill"></small>
                  </div>
                </div>

                <div class="template-actions">
                  <a href="" class="btn-action">
                    <small class="bi-pencil-square"></small>
                  </a>
                  <a href="" class="btn-action">
                    <small class="bi-trash"></small>
                  </a>
                </div>
              </div>
            </div>

            <div class="template-add">
                <a href="" class="add">
                  <small class="bi-plus"></small>
                  <small>Adicionar Template</small>
                </a>
            </div>


          </div>

        </div>


      </div>

    </div>


  </div> <!--/.sp-wrapper-->

</body>

</html>
