<div class="contain-popup">
  <div class="popup">
    <div class="popup-header">
      <div class="popup-title">
        <span class="bold" id="popup-type">Information</span>
        <small class="tw-muted">Conteúdo informativo</small>
      </div>
      <span class="bi-x" id="popup-closer"></span>
    </div>
    <div class="popup-body">
      <small class="tw-muted" id="popup-msg">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Nemo, voluptate. Cupiditate esse officia dolor non? consectetur adipisicing elit. Repellat,
        modi!</small>
    </div>
  </div>
</div>

<script>
  const popup_contain = selector('.contain-popup');
  const popup = selector('.popup');
  const popup_msg = selector('#popup-msg')
  const popup_title = selector('#popup-type')

  selector('#popup-closer').addEventListener('click', () => {
    popup_contain.classList.remove('active');
    popup.classList.remove('active');
  });



  function selector(item)
  {
    return document.querySelector(item);
  }

</script>
